[submodule "lib3DFin/third_party/taskflow"]
	path = lib3DFin/third_party/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "lib3DFin/third_party/eigen"]
	path = lib3DFin/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib3DFin/third_party/nanoflann"]
	path = lib3DFin/third_party/nanoflann
	url = https://github.com/jlblancoc/nanoflann
[submodule "lib3DFin/third_party/CSF-3DFin"]
	path = lib3DFin/third_party/CSF-3DFin
	url = https://github.com/3DFin/CSF-3DFin
[submodule "lib3DFin/third_party/dset"]
	path = lib3DFin/third_party/dset
	url = https://github.com/wjakob/dset
